# Database configuration
SQL_DIALECT=mysql
SQL_LOGGING=true # or false
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=your_database_user
MYSQL_ROOT_PASSWORD=your_database_password  # for Docker
DATABASE_PASSWORD=your_database_password
DATABASE_NAME=your_database_name

# Server configuration
PORT=3000
JWT_SECRET=adadd1q211
JWT_REFRESH_SECRET=refresh1231312414214

# Client URL for CORS or other usage
CLIENT_URL=http://localhost:5000

# Environment flag
PRODUCTION=false

# Email configuration
EMAIL_USER=dreamteam4gm@gmail.com
EMAIL_PASS=dadd dddd dddd dddd # it's just example